<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.codelabs.roadtrip">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Forum"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="r">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5403593084519358~2623108920"/>

        <activity
            android:name=".activities.explore.ExploreActivity"
            android:exported="false"/>
        <activity
            android:name=".activities.explore.DetailExploreActivity"
            android:exported="false"/>
        <activity
            android:name=".activities.explore.list.ListSearchActivity"
            android:exported="false"/>
        <activity
            android:name=".activities.explore.maps.MapsSearchActivity"
            android:exported="false"/>
        <activity
            android:name=".activities.explore.maps.ListMapsSearchActivity"
            android:exported="false"/>
        <!-- <activity -->
        <!-- android:name=".activities.home.fragment.profile.activity." -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_new_post" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <meta-data -->
        <!-- android:name="android.app.lib_name" -->
        <!-- android:value="" /> -->
        <!-- </activity> -->
        <activity
            android:name=".activities.home.fragment.profile.activity.NewPostProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_new_post"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.home.fragment.profile.activity.FollowViewActivity"
            android:exported="false" />
        <activity
            android:name=".activities.questioner.QuestionResultActivity"
            android:exported="false" />
        <activity
            android:name=".activities.questioner.QuestionActivity"
            android:exported="false" />

        <provider
            android:name=".helpers.GenericFileProvider"
            android:authorities="${applicationId}.app.codelabs.roadtrip.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activities.home.fragment.community.DetailMemberActivity"
            android:exported="false" />
        <activity
            android:name=".activities.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.article.DetailArticleActivity"
            android:exported="false" />
        <activity
            android:name=".activities.about.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".activities.gallery.GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.gallery.DetailGalleryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.article.ArticleActivity"
            android:exported="false" />
        <activity
            android:name=".activities.event.EventActivity"
            android:exported="false" />
        <activity
            android:name=".activities.shop.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".activities.shop.DetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".activities.notification.NotificationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.vote.VoteActivity"
            android:exported="false" />
        <activity
            android:name=".activities.forgot_password.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.forgot_password.SubmitPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.forgot_password.FinishPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.event.DetailEventActivity"
            android:exported="false" />
        <activity
            android:name=".activities.conversation.ChatRoomActivity"
            android:exported="false" />
        <activity
            android:name=".activities.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.walktrough.WalkThroughActivity"
            android:exported="false" />
        <activity
            android:name=".activities.splashscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="app.codelabs.roadtrip.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDzX2DX1Oba4YVAPi9N0E9jbi7JBR6Uocc" />

    </application>

</manifest>