<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.codelabs.forum">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.home.latest_popular_foryou.CardViewActivity"></activity>
        <activity android:name=".activities.article_home.ArticleHome" />
        <activity android:name=".activities.home.notivication.voting_notification.VotingPeriodNotif" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activities.forgotpassword.ForgotPasswordActivity" />
        <activity android:name=".activities.register.RegisterActivity" />
        <activity android:name=".activities.home.HomeActivity" />
        <activity android:name=".activities.home.notivication.NotivicationHome" />
        <activity android:name=".activities.profile.SettingProfile" />
        <activity android:name=".activities.event.EventActivity" />
        <activity android:name=".activities.conversation.recyclerview_multipleview.RecyclerViewMultipleItemActivity" />
        <activity android:name=".activities.login.LoginActivity" />
        <activity android:name=".activities.walktrought.WalkThroughActivity" />
        <activity android:name=".activities.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>